.container {
  display: flex;
  flex-direction: column;
}

.folderName {
  padding: 48px 32px;
  font-size: 32px;
  color: var(--white);
  display: flex;
  gap: 16px;
}

.top {
  position: sticky;
  top: 0;
}

.crumb {
  display: block;
  color: white;
  cursor: pointer;
}

.crumb::after {
  content: "/";
  padding-left: 16px;
  color: #555;
}

.listContainer {
  background: var(--background);
  z-index: 2;
  color: var(--foreground);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  overflow: hidden;
  padding: 16px;
  min-height: 90vh;
}

.list {
  flex-grow: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.sep {
  height: 2px;
  width: 100%;
  background: var(--hover);
}

.row {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  background: var(--background);
  transition: background 100ms ease-in-out;
}

.row:hover {
  background: var(--hover);
  cursor: pointer;
}

.icon {
  width: 32px;
  min-width: 32px;
}

.rowText {
  font-size: 16px;
}
