.nav {
	padding: 16px;
	color: var(--white);
}

.nav div, .nav {
	display: flex;
	align-items: center;
	gap: 16px;
	justify-content: space-between;
}

.nav h1 {
	font-size: 22px;
	color: var(--white);
}