.nav {
  padding: 16px;
  color: var(--white);
  z-index: 4;
}

.left:hover {
  cursor: pointer;
}

.nav div,
.nav {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.nav h1 {
  font-size: 22px;
  color: var(--white);
}

.btn {
  transition: 125ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1) translateY(-2px);
  cursor: pointer;
}
