@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --nmc: #00755a;
  --white: #fff;
  --background: var(--white);
  --foreground: #000;
  --hover: #eee;
  --primary: var(--nmc);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #eee;
    --nmc: #00291F;
    --background: #000;
    --foreground: var(--white);
    --hover: #181818;
    --primary: var(--nmc);
  }
}

body, html {
  font-family: 'Nunito', sans-serif;
  background-color: var(--primary);
  color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

